<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prep4Int</title>
    <link rel="stylesheet" href="prep4int.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap">
    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="prog.css">
    <link rel="stylesheet" href="tdstyle.css">
    <!-- Iconscout Link For Icons -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="icon" type="image/x-icon" href="img/fevi.png">
</head>

<body>
    <nav>
        <ul>
            <li class="brand"><img src="img/logo.png" alt="prep4int"> Prep4Int</li>
            <div class="navi">
              <li class="nav1"><a href="#about">About</a></li>
              <li class="nav1"><a href="#practise">Practice</a></li>
              <li class="nav1"><a href="#contactus">ContactUs</a></li>
            </div>
            <li class="lioful">
              <a class="insta" href="#"><i class="fa fa-bars"></i></a>
              <ul class="dropdown">
                  <li><a href="alltopics.html">Topics</a></li>
                  <li><a href="rec.html">Recomm.</a></li>
                  <li><a href="que.html">Questions</a></li>
                  <li><a class="none" href="#contactus">ContactUs</a></li>
                  <li><a href="/">Log Out</a></li>
              </ul>
          </li>
        </ul>
    </nav>
    <div id="goabout" class="containers">
        <div class="container">
          <h1 id="about">About</h1>
          <p id="para">
              This website is for the students who are looking
              <br/> to practice for the interview. It will provide -<br/>
              <ul id="a">
                  <li >All topics of DSA.</li>
                  <li >From where to study the topics.</li>
                  <li >Topicwise important questions of DSA.</li>
              </ul>
          </p>
        </div>
        <div class="container1">
            <img id="img" src="img/bg1.png" alt="bg1" width="550" height="550">
        </div>
    </div>


    <section id="practise" class="first">
        <div class="second">
          <div class="third">
            <div  id="dabba"class="p-12 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">
              <!--Card 1-->
              <div class="forboxes" class="rounded overflow-hidden shadow-lg">
                <div class="box11">
                  <img class="amans" class="w-full" src="img/topics.png" alt="topics">
                  <div class="px-6 py-6">
                    <div class="topic" class="font-bold text-xl mb-2">DSA Topics</div>
                    <p class="text-gray-700 text-base">
                      Here you can get all the topics related to DSA. </p>
                  </div>
                  <div class="but">
                    <a href="alltopics.html">
                      <button onclick="showborder()" class="button" type="button">Click Me</button>
                    </a>
                  </div>
                </div>
              </div>
              <!--Card 2-->
              <div class="forboxes" class="rounded overflow-hidden shadow-lg">
                <div class="box11">
                  <img class="amans" class="w-full" src="img/imp.png" alt="Recommendation">
                  <div class="px-6 py-6">
                    <div class="topic" class="font-bold text-xl mb-2">Recommendation</div>
                    <p class="text-gray-800 text-base">
                      Here you will get best sources for important topics.  
                    </p>
                  </div>
                  <div class="but">
                    <a href="rec.html">
                      <button onclick="showborder()" class="button" type="button">Click Me!</button>
                    </a>
                  </div>
                </div>
              </div>
          
              <!--Card 3-->
              <div class="forboxes" class="rounded overflow-hidden shadow-lg">
                <div class="box11">
                  <img class="amans" class="w-full" src="img/que.png" alt="Recommendation">
                  <div class="px-6 py-6">
                    <div class="topic" class="font-bold text-xl mb-2">Questions</div>
                    <p class="text-gray-700 text-base">
                      Here you can get all important questions of DSA.  
                    </p>
                  </div>
                  <div class="but">
                    <a href="que.html">
                      <button onclick="showborder()" class="button" type="button">Click Me!</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          </div>
        </div>
      </section>
      </div>

      <!-- PROGRESS SECTION-->
      <div class="xfdiv">
        <div class="xup">
            <h1 class="xheading">Keep Your Progress</h1>
        </div>
        <div class="xrb">
            <form action="/CBsubmit" method="POST">
                <div class="xpb">
                    <div class="xpart" id="x0">
                        <input class="xlab" type="checkbox" name="options" value="Array" id="ArrayCB">
                        <label for="ArrayCB"> Array</label><br>
                        <input class="xlab" type="checkbox" name="options" value="String" id="StringCB">
                        <label for="StringCB"> String</label><br>
                        <input class="xlab" type="checkbox" name="options" value="Linked List" id="Linked ListCB">
                        <label for="Linked ListCB"> Linked List</label><br>
                        <input class="xlab" type="checkbox" name="options" value="Searching" id="SearchingCB">
                        <label for="SearchingCB"> Searching</label><br>
                        <input class="xlab" type="checkbox" name="options" value="Sorting" id="SortingCB">
                        <label for="SortingCB"> Sorting</label><br>
                    </div>
                    <div class="xpart" id="x1">
                        <input class="xlab" type="checkbox" name="options" value="Stack" id="StackCB">
                        <label for="StackCB"> Stack</label><br>
                        <input class="xlab" type="checkbox" name="options" value="Queue" id="QueueCB">
                        <label for="QueueCB"> Queue</label><br>
                        <input class="xlab" type="checkbox" name="options" value="Tree" id="TreeCB">
                        <label for="TreeCB"> Tree</label><br>
                        <input class="xlab" type="checkbox" name="options" value="BST" id="BSTCB">
                        <label for="BSTCB"> BST</label><br>
                        <input class="xlab" type="checkbox" name="options" value="Graph" id="GraphCB">
                        <label for="GraphCB"> Graph</label><br>
                    </div>
                    <div class="xpart" id="x2">
                        <input class="xlab" type="checkbox" name="options" value="Greedy Algo" id="Greedy AlgoCB">
                        <label for="Greedy AlgoCB"> Greedy Algo</label><br>
                        <input class="xlab" type="checkbox" name="options" value="Recursion" id="RecursionCB">
                        <label for="RecursionCB"> Recursion</label><br>
                        <input class="xlab" type="checkbox" name="options" value="Dynamic Prog" id="Dynamic ProgCB">
                        <label for="Dynamic Prog.CB"> Dynamic Prog</label><br>
                        <input class="xlab" type="checkbox" name="options" value="Heap" id="HeapCB">
                        <label for="HeapCB"> Heap</label><br>
                        <input class="xlab" type="checkbox" name="options" value="Bit Manipulation" id="Bit ManipulationCB">
                        <label for="Bit ManipulationCB">Bit Manipulation</label><br>
                    </div>
                    <input  type="hidden"  name="regmail" value=<%=defmail%>>
                </div>
                <div class="xsub">
                    <input class="xsb" type="submit" value="Save">
                </div>
            </form>
        </div>

        
    

        <!-- for checking the checkboxes on entering homepage based on data -->
        <script>
            let options=["Array","String","Linked List","Searching","Sorting","Stack","Queue","Tree","BST","Graph","Greedy Algo","Recursion","Dynamic Prog","Heap","Bit Manipulation"];
            // Make a request to the route that provides the array data
            fetch('/data')
              .then(response => response.json())
              .then(data => {
                // Use the array data received from Express.js
                // console.log(data.dataArray);
                if(options){
                  options.forEach(option => {
                      // Get the checkbox element based on the option ID
                      let checkbox = document.getElementById(option + 'CB');
                      
                      // Check if the option is in the retrieved options array
                      if (data.dataArray.includes(option)) {
                          checkbox.checked = true; // Tick the checkbox
                      } else {
                          checkbox.checked = false; // Untick the checkbox
                      }
                  });
                }
              });
        </script>
       

        <!-- <div class="xup">
            <h1 class="xheading">Make Your Notes</h1>
        </div>
        
        <div class="tdpkl">
            <div class="tdwrapper">
                <div class="tdtask-input">
                  <img src="bars-icon.svg" alt="icon">
                  <input type="text" placeholder="Add a new note">
                </div>
                <div class="tdcontrols">
                  <div class="tdfilters">
                    <span class="active" id="all">All</span>
                    <span id="pending">Pending</span>
                    <span id="completed">Completed</span>
                  </div>
                  <button class="tdclear-btn">Clear All</button>
                </div>
                <ul class="tdtask-box"></ul>
            </div>
        </div>
       -->        

        <div class="xup">
            <h1 class="xheading">Make Your Notes</h1>
        </div>
        
        <div class="tdpkl">
          <div class="tdwrapper">
              <div class="tdtask-input">
                <img src="bars-icon.svg" alt="icon">
                <form action="/add/todo" method="POST">
                  <input type="text" name="todo" placeholder="Add a new note" class="inpofform">
                  <input  type="hidden"  name="regmail" value=<%=defmail%>>
                </form>
              </div>

              <div class="notekobich">
                <% todo.forEach(todos => { %>
                  <li class="lst"> <span class="lst3" ><%= todos.todo %></span> 
                    <a href="/delete/todo/<%= todos._id %>" class="lst1">Delete</a></li>
                <% }) %>
              </div>
          </div>
        </div>
        
        <script src="tdscript.js"></script>

        
    </div>
      <hr/>
      <section id="contactus" class="section-wrapper" >
        <div class="box-wrapper">
            <div class="info-wrap">
                <h2 class="info-title">Contact Info.</h2>
                <h3 class="info-sub-title">You can directly contact to us using any of these option</h3>
                <ul class="info-details">
                    <li>
                        <i  id="phone" class="fas fa-phone-alt"></i>
                        <span>Phone:</span> <a href="tel:+ 91 9981245172">+91 9981245172</a>
                    </li>
                    <li>
                        <i id="mail" class="fas fa-paper-plane"></i>
                        <span>Email:</span> <a href="amansinghsgrl@gmail.com">amansingh@gmail.com</a>
                    </li>
                    <li>
                        <i id="site" class="fas fa-globe"></i>
                        <span>Website:</span> <a href="#">Mysite.com</a>
                    </li>
                </ul>
                <ul class="social-icons">
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fab fa-github"></i></a></li>
                </ul>
            </div>
            <div class="form-wrap">
                <form action="/index" method="POST">
                    <h2 class="form-title">Send us a message</h2>
                    <div class="form-fields">
                        <div class="form-group">
                            <input type="text" name="fname" class="fname" placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <input type="text" name="lname" class="lname" placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <input type="Email" name="email" class="email" placeholder="Mail">
                        </div>
                        <div class="form-group">
                            <input type="number" name="phone" class="phone" placeholder="Phone">
                        </div>
                        <div class="form-group">
                            <textarea name="message" placeholder="Write your message"></textarea>
                        </div>
                    </div>
                    <input id="send" type="submit" value="Send Message" class="submit-button">
                </form>
            </div>
        </div>
    </section>
      <script src="prep4int.js"></script>
      <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>